#header{
  	background-color: #AAAAAAS;
    width:200px;
}

#jstext{
	background-color: #F5F5DC;
}

#header1{
  background-color: #90EE90;
  width:2000px;
  height: 50px;
}

#header2{
  background-color: #ff8a90;
  width:2000px;
  height: 50px;
}
/*#ff575f
#ff7177
#ff8a90
#eeb5ff*/
#first{
	background-color: #BBBB;
	font-size: 30px;
	margin: 20;
}

#quiz {
	background-color: #87CEFA;
	font-family: sans-serif;
	font-size: 28px;
  margin-left: 2rem;


}

#quiz1 {
	background-color: #FFFFFF;
	font-family: sans-serif;
	font-size: 28px;

}

.b {
width: 300px;
height: 100px;
border:none;
color: white;
border-radius: 4px;
transition: ease-out 0.3s;
font-size: 2rem;
outline: none;
border: 3px solid #000000;
position: relative;
z-index: 1;
background-color: #575757;
transform: translateX(-260%);
}

.b:hover {
  color: #fff;
  cursor: pointer;
}

.b:before{
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ff575f;

}
/*#42FBF2*/
.b:Hover:before{
transition: 0.5s all ease;
left: 0;
right: 0;
opacity: 1;
z-index: -1;
}

.a{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: left;
    text-align: center;
    min-height: 30vh;
/*  align-items: center;
  text-align: center;
  min-height: 30vh;*/
}


/*#button{
  width: 300px;
  padding: 15px 0;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: #E88029 ;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
*/
/*
#button::after{
  background: #7890EA;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
#button:hover::after{
width: 100%;
}
#button:hover{
  border: none;
}
*/
#timer {
  background-color: #F5F5DC;
  text-align: center;
  font-size: 50px;
  margin-top: 0px;
  height: 60px;

}

.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.logo{
height: 175px;
width:175px;
cursor: pointer;
}


.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a{
text-decoration: none;
color: #FFFFFF;
text-transform: uppercase;
font-size: 28px;
}

.navbar ul li::after{
  content:'';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
width: 100%;
}

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5,1,0,0.95), rgba(0,0,35,0.75)), url(background1.jpg);
  background-size: cover;
  background-position: center;
}
.banner2{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5,1,0,0.9), rgba(0,0,35,0.75)), url(background2.jpg);
  background-size: cover;
  background-position: center;
}
.banner3{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5,1,0,0.9), rgba(0,0,35,0.75)), url(background3.jpg);
  background-size: cover;
  background-position: center;
}
.banner4{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5,1,0,0.9), rgba(0,0,35,0.75)), url(background4.jpg);
  background-size: cover;
  background-position: center;
}
.banner5{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5,1,0,0.9), rgba(0,0,35,0.75)), url(background5.jpg);
  background-size: cover;
  background-position: center;
}
.banner6{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5,1,0,0.9), rgba(0,0,35,0.75)), url(background6.jpg);
  background-size: cover;
  background-position: center;
}


.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  left: -50px;

}

.content h1{
  font-size: 100px;
  margin-top: 80px;

}

.content p{
  font-size: 24px;
margin: 20px auto;
font-weight: 100;
line-height: 25px;
}


button{
  width: 300px;
  padding: 15px 0;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span{
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span{
width: 100%;
}

button:hover{
  border: none;
}


input[type=text] {
  width: 50px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  /*background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;*/
 padding: 12px 20px 12px 12px;
  transition: width 0.4s ease-in-out;
  width: 60%;
}

input[type=text]:focus {
  width: 80%;
}

input[type=email] {
  width: 50px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  /*background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;*/
 padding: 12px 20px 12px 12px;
  transition: width 0.4s ease-in-out;
  width: 60%;
}

input[type=email]:focus {
  width: 80%;
}
